body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}
.header{
height: 1em;
padding: 4em;
font-size: 2em;
background-image: url("https://images.unsplash.com/photo-1580327344181-c1163234e5a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80") ;
background-size: cover;
background-position: center;
}
.header h1{
    margin: 10px;
    font-weight: 500;
    margin: auto;
}
.header p{
    margin: auto;
    color: black;
    justify-content: left;
}
.products{
    width: 70%;
    margin: auto;
}
.products td{
    width: 70%;
    padding: 1em;
}
.products img{
    width: 70%;
    border: solid 1px #ddd;
}
.footer{
height: 3em;
line-height: 3em;
background-color: #040D0E;
color: white;
text-align: center;
font-weight: 900;
}
